<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Movie Watch-list</h1>
            <h3 class="jumbotron-heading">ADD MOVIE</h3>
        </div>
    </section>

<form th:action="@{'/movies/{id}' (id=${movie?.id})}" th:method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text"
               id="name"
               th:name="name"
               th:value="(${movie} != null ? ${movie.getName()} : '')"
               required>
    </div>

    <div>
        <label for="description">Description</label>
        <input type="text"
               id="description"
               th:name="description"
               th:value="(${movie} != null ? ${movie.getDescription} : '')"
               required>
    </div>
    <div>
        <label>Genre</label><br/>
        <select id="genre" th:name="genres" multiple="multiple" size="5">
            <!-- For each category you should have one <option> like below  -->
            <option th:each="gen: ${genres}" th:text="${gen.getName()}" th:value="${gen.getId()}"></option>
        </select>
    </div>

    <button id="submit" type="submit">Submit</button>
    <a id="back" href="/movies" type="button" class="btn btn-primary">Back to movies</a>
</form>


</div>