<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Movie Watch-list</h1>
            <h3 class="jumbotron-heading">Movie REVIEWS</h3>
        </div>
    </section>


<h1><div th:text="${movie.name}"></div></h1>
<a th:href="@{'/review/add/{id}' (id=${movie.getId()})}" class="edit-item" >Give a review</a>

<div th:each="review: ${reviews}">
    <div th:text="${review.description}"></div>
    <h2><div th:text="${review.stars}"></div></h2>
</div>


<div>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</div>

</div>